<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ICBA.Properties.Settings.conStr" connectionString="Data Source=192.168.100.109;Initial Catalog=&quot;ICBA Cirugia 2003&quot;;User ID=cirugia;Password=cirugia" />-->
  
    <add name="ICBA.Properties.Settings.conStrCiencia" connectionString="Data Source=192.168.100.3;Initial Catalog=ICBA_Cirugia_Ciencia;User ID=CirugiaCiencia;Password=CirugiaCiencia" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>